//Fonts
$archivo: 'Archivo', sans-serif;
$playfair: 'Playfair Display SC', serif;
$qwitcher: 'Qwitcher Grypen', cursive;

//Colors
$white: #ffffff;
$black: #000000;
$onyx: #0d1512;
$graphite: #18241e;
$forest: #1f5e3f;
$gold: #d9c27a;
$ivory: #fcf6e8;
$slate: #c1c7c4;
$text: $ivory;
$hover: $gold;

// Pixels X REM
$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
	@return #{calc($pixels / $context)}rem;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	60% {
		transform: translateY(-5px);
	}
}
